<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
  </head>
  <body style="padding-top: 0px;">

    <div aria-labelledby="homeDropdownMenuLink" class="dropdown-menu"><a href="index.html" class="dropdown-item">Rooms</a><a href="index-2.html" class="dropdown-item">Restaurants</a><a href="index-3.html" class="dropdown-item">Travel</a><a href="index-4.html" class="dropdown-item">Real Estate <span class="badge badge-info-light ml-1 mt-n1">New</span></a></div>
      <div class="row megamenu-services d-none d-lg-flex pl-lg-5">
        <div class="col-xl-3 col-lg-6 d-flex">
          <div class="megamenu-services-item">
            <svg class="svg-icon megamenu-services-icon">
              <use xlink:href="#destination-map-1"> </use>
            </svg>
          <div>
          <div class="col-lg-3 d-none d-lg-block"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-4/img/photo/photo-1521170665346-3f21e2291d8b.jpg" alt="" class="bg-image"></div>

        </div>
      </div>
      </li>
      </ul>
    </div>
  </div>
</nav>
      <!-- /Navbar -->
    </header>
    <section>

    </section>
    <section class="py-1 bg-gray-100 shadow">
      <div class="container">
        <h1 class="mb-2">SURF</h1>
        <p class="lead mb-1"> Trouvez le matériel adéquat pour surfer à l'aise à Biarritz ! </p>

      </div>
    </section>
    <section class="py-5">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4">
          <div class="mr-3">

            <p class="mb-3 mb-md-0"><strong><%= @equipments.count %></strong> results found</p>


          </div>
          <div>
            <label for="form_sort" class="form-label mr-2">Sort by</label>
            <select name="sort" id="form_sort" data-style="btn-selectpicker" title="" class="selectpicker">
              <option value="sortBy_0">Most popular   </option>
              <option value="sortBy_1">Recommended   </option>
              <option value="sortBy_2">Newest   </option>
              <option value="sortBy_3">Oldest   </option>
            </select>
          </div>
        </div>


            </div>
          </div>

          <!-- place item-->

                  </div>
                </div>

              </div>



    </script>
    <!-- jQuery-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Magnific Popup - Lightbox for the gallery-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Smooth scroll-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <!-- Bootstrap Select-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/object-fit-images/ofi.min.js"></script>
    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="js/demo.36f8799a.js"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script src="js/theme.55f8348b.js"></script>
    <!-- Map-->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <script src="js/map-category.8b2f236a.js">                               </script>
    <script>
      createListingsMap({
          mapId: 'categoryMap',
          jsonFile: 'js/rooms-geojson.7dec6a3d.json',
          mapPopupType: 'rental',
          useTextIcon: true
      });
    </script>
  </body>

  <!-- test Cyrille-->
  <div class="container">
    <h1> Les équipements disponibles </h1>
    <div class="row">
      <% @equipments.each do |equipment| %>
      <!-- <p> <%= link_to "voir le détail", equipments_path(equipment) %> </p> -->

        <div data-marker-id="59c0c8e3503eb77d487e8082" class="col-sm-6 col-lg-4 mb-5 hover-animate">
          <div class="card h-100 border-0 shadow">
            <div class="card-img-top overflow-hidden gradient-overlay"> <img src="https://contents.mediadecathlon.com/p1518526/k$40477566163fc76e6cd989b26f25a093/sq/Planche+de+surf+rigide+6+2+egg+900+Livr+e+avec+3+ailerons.webp?f=700x700" alt="Sunny Private Studio-Apartment" class="img-fluid"/><a href="detail-rooms.html" class="tile-link"></a>
              <div class="card-img-overlay-bottom z-index-20">
                <div class="media text-white text-sm align-items-center"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-4/img/avatar/avatar-9.jpg" alt="Barbora" class="avatar avatar-border-white mr-2"/>
                  <div class="media-body"> <%= equipment.user.email %> </div>
                </div>
              </div>
            </div>
            <div class="card-body d-flex align-items-center">
              <div class="w-100">
                <h6 class="card-title"><a href="detail-rooms.html" class="text-decoration-none text-dark"><%= equipment.name %></a></h6>
                  <div class="d-flex card-subtitle mb-3">
                    <p class="flex-grow-1 mb-0 text-muted text-sm"><%= equipment.sport %></p>
                    <p class="flex-shrink-1 mb-0 card-stars text-xs text-right"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-gray-300">                                  </i>
                    </p>
                  </div>
                  <p class="card-text text-muted"><span class="h4 text-primary"><%= equipment.price %></span> par jour</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </ul>


</html>
